<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/css/style-mou.css" rel="stylesheet">
    <link href="/css/prettify-sunburst.css" rel="stylesheet">
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/google-code-prettify/prettify.js"></script>
<script type="text/javascript">
  $(function(){
    $("pre").addClass("prettyprint linenums");
    prettyPrint();
  });
</script>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div>
      {% include head.html %}
    </div>
    <hr/>
  {{ content }}
  <hr/>
   <div>
  {% include footer.html %}
   </div>
  </body>
 </html>
