---
layout: default
---
<div id="content" class="col-md-9 col-sm-9 col-xs-12">
  <div id="content_header">
  <h1>{{ page.title }}</h1>
  <div>发表于 {{ page.date | date:"%Y-%m-%d" }}</div>
  <hr/>
  </div>
  <div id="content_body">
  {{ content }}
  </div>
<script type="text/javascript">
$(document).ready(function() {
  $('body').attr('data-spy', 'scroll');
  $('body').attr('data-target', '#affix-nav');
  initToc($('#affix-nav'));
  $('#affix-nav > ul').addClass('sidenav');
  $('#affix-nav > ul').attr('data-spy', 'affix');
  $('#affix-nav > ul').attr('data-offset-top', '30');
});
</script>
<hr/>
<span id="uyan-comment"></span>
{% include uyan-comment.html %}
</div>
<nav id="affix-nav" class="sidebar col-md-3 col-sm-3 hidden-xs"></nav>
<div id="back-to-top" class="affix">
  <a href="#uyan-comment">评论</a><br/>
  <a href="#top">返回顶部</a>
</div>
